html{
	  margin:0;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
	  background-size: 600% 100%;
	  animation: gradient 16s linear infinite;
	  animation-direction: alternate;
  }
  @keyframes gradient {
	  0%   {background-position: 0% }
	  25% {background-position: 25%;}
	  50%  {background-position:50% }
	  75%{background-position:75%}
	  100% {background-position: 100%}
  }
h1{
	font-size: 60px;
	color: blue;
	text-align: center;
}
a{
	color: color-mix(in srgb, blue 50%, aqua 50%);
	text-align: left;
	font-size: 20px;
}
h2{
	color: blueviolet;
	font-size: 40px;
}

#b1{
	background-color: #3498db; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	font-size: 40px;
	margin-left: 80px; 
}
#b2{
	background-color: #3498db; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	font-size: 40px;
	margin-left: 10px; 
}
button:hover {
		background-color: #2462a9; 
}
.mg{
	position: fixed;
	width: 3.5%;
	bottom: 20 px;
}
div{
	width: 36%;
	color: purple;
	text-align: center;
}
button{
	background-color: #3498db; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	font-size: 40px;
}
#b0{
	background-color: #3498db; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	font-size: 40px;
	margin-left: 0x; 
}#b01{
	background-color: #3498db; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	font-size: 40px;
	margin-left: 0px; 
}#b02{
	background-color: #3498db; 
	color: #fff; 
	border: none; 
	border-radius: 5px; 
	font-size: 40px;
	margin-left: 0px;
	
}
form{
	width: 50%;
	font-size: 250%;

}
#d1{
	position:absolute;
	bottom:0px;
}
html{
	height:100%;
}
